.grid{
    font-family: Arial;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4,1fr);
}

@media (max-width: 900px){
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
}