.login-box {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-top: -70px;
  padding: 20px;
}
 
h2 {
  font-size: 48px;
  color: #caa6ff;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.8);
}
 
input {
  width: 350px;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #8a2be2;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
 
.buttons {
  display: flex;
  gap: 15px;
}

button {
  width: 180px;
  padding: 12px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  background: #8a2be2;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a855f7;
}
 
p {
  color: #ffffff;
  font-size: 17px;
}

.message {
  height: 20px;
}
 
@media (max-width: 900px) {
  input {
    width: 280px;
  }

  button {
    width: 140px;
    font-size: 16px;
  }

  h2 {
    font-size: 40px;
  }
}
 
@media (max-width: 500px) {
  .login-box {
    margin-top: 0;
    padding: 20px;
  }

  input {
    width: 100%;
    max-width: 320px;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
    max-width: 320px;
  }

  button {
    width: 100%;
  }

  h2 {
    font-size: 34px;
    text-align: center;
  }
}