.login-page {
  text-align: center;
  padding: 40px;
}

.forms-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.form-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #b574f2;
  background: rgba(93, 58, 104, 0.1);
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background: #8a2be2;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #a855f7;
}

.logout-btn {
  margin-top: 20px;
  width: 200px;
}

.success-message {
  color: #7dffb3;
  margin-top: 15px;
}

.error-message {
  color: #ff9aa9;
  margin-top: 15px;
}