:host {
  display: block;
}

.products-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
  color: #caa6ff;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.8);
}

h2 {
  color: #e4c8ff;
  margin-bottom: 16px;
}

.section-box {
  margin-bottom: 24px;
}

.add-form,
.filters-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

input,
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #b574f2;
  min-width: 180px;
  background: rgba(93, 58, 104, 0.1);
  color: white;
  margin: 0;
}

button {
  padding: 10px 16px;
  background: #8a2be2;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #a855f7;
}

select option {
  color: black;
  background: white;
}

.custom-line {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #8a2be2, #ff7efc);
  margin: 24px 0;
}

.error-message {
  color: #ff9aa9;
  font-weight: bold;
  margin-top: 16px;
}
.toast {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 9999;
  padding: 14px 20px;
  border-radius: 14px;
  color: white;
  font-weight: bold;
  animation: fadeInOut 2s ease;
}

.toast.error {
  background: linear-gradient(45deg, #ff4fa3, #8a2be2);
}

.toast.success {
  background: linear-gradient(45deg, #4caf50, #2ecc71);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}